@*
    Vet Details
*@
@model Veterinarian

@{
    ViewData["Title"] = $"Meet Dr. {Model.Name}";
}

<div class="mt-5 d-flex justify-content-left">
    <h2>Meet Dr. @Model.Name</h2>
</div>
<div class="container mt-4 w-90 d-flex justify-content-center ">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@Html.DisplayFor(Model => Model.ImgURL) class="img-fluid rounded-start square-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3 ms-2">
                    <h5 class="card-title">Dr. @Model.Name</h5>
                    <p class="card-text">@Model.Bio</p>
                    <p class="card-text"><small class="text-body-secondary">Dr. @Model.Name has @Model.YearsExperience years of experience.</small></p>
                </div>
            </div>

        </div>
    </div>

</div>
<div>
    @*Hide edit and delete buttons if the user isn't an admin*@
    @if (User.IsInRole("Admin"))
    {
        <div class="row mb-3">
            <div class="col-7"></div>
            <a class="btn btn-secondary col-2 ms-2" asp-controller="Veterinarian" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger col-2 ms-2" asp-controller="Veterinarian" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    }
</div>