@*
    Patient Index
*@
@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Patients";
}

@*Header*@
<div class="container mb-5">
    <div class="row justify-content-between vet-details-header">
        <div class="col">
            <h1 class="text-color-blue mb-4 ">Patients</h1>

        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-auto">
                <div class="row align-items-center me-3">
                    <a class="btn button-color-seafoam  " asp-controller="Patient" asp-action="Create">New Pet Form</a>
                </div>
            </div>

        }
    </div>


    @*Cards for vet info.  Loop for each one*@

        <div class="row row-cols-1">
            @foreach (Patient p in Model)
            {
                <div class="col">
                    <div class="border patient-index-card-size ">
                        <div class="row g-0">
                            <div class="col">
                                <a asp-controller="Patient" asp-action="Details" asp-route-id="@p.Id">
                                    <img src="@p.ImgURL" class="img-fluid  patient-index-image circle-image m-1" alt="patient image ">
                                </a>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-decoration-none overflow-hidden text-color-blue" asp-controller="Patient" asp-action="Details" asp-route-id="@p.Id">@p.Name</a></h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <div class="card-title"><a class="text-decoration-none overflow-hidden text-color-blue" asp-controller="Patient" asp-action="Details" asp-route-id="@p.Id">@p.Species</a></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <div class="card-title"><a class="text-decoration-none overflow-hidden text-color-blue" asp-controller="Patient" asp-action="Details" asp-route-id="@p.Id">@p.Breed</a></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <div class="card-title"><a class="text-decoration-none overflow-hidden text-color-blue" asp-controller="Patient" asp-action="Details" asp-route-id="@p.Id">@p.Age year(s)-old</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
  
</div>


